faster_whisper==1.2.1
librosa==0.11.0
matplotlib==3.10.8
numpy==2.4.4
pandas==3.0.2
PyQt5==5.15.11
pyqt5_sip==12.18.0
scipy==1.17.1
sounddevice==0.5.5
soundfile==0.13.1
torch==2.11.0
torchaudio==2.11.0
transformers==4.57.6
